@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 20px 40px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.wrapper {
  position: relative;
}

.input-field {
  width: 300px;
}

/* Country */
.country {
  margin-top: 40px;
}

.country.is-hidden {
  display: none;
}

.country-list {
  font-size: 24px;
}

.country-name {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.country-info {
  display: flex;
  justify-content: space-between;
}

.country-desc {
  flex: 0 0 48%;
}

.country-text {
  font-size: 32px;
  font-weight: 700;
}

.country-text span {
  display: inline-block;
  margin-left: 4px;
  font-weight: 400;
}

.country-languages ul {
  font-size: 32px;
}

.country-flag {
  flex: 0 0 50%;
}

.country-flag img {
  display: block;
  width: 100%;
  height: auto;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(107, 134, 129, 0.5);
}

.preloader.is-hidden {
  display: none;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
